.accept-div{
    border-radius: 5px;
    background-color: rgba(92, 184, 92, 0.4);
}

.reject-div{
    border-radius: 5px;
    background-color: rgba(217, 83, 79, 0.4);
}

hr {
    border-top: 2px dashed;
  }