<div class="row">
  <div class="col-sm-7" style="padding: 0">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides card" style="padding-bottom: 20px;">
        <span class="badge badge-danger week-point">ĐIỂM TUẦN</span>
        <div class="img-containter">
          <img src="/static/images/img4.jpg" width="100%">
        </div>
        <div class="big-title">
          <a href="#" class="title-link">Cử tri TP.HCM mong muốn chính quyền tiêm vắc xin đại trà để phòng chống dịch
            Covid-19</a>
        </div>
        <div style="font-size: large;">
          <span class="date"><i class="fa fa-clock-o"></i>&nbsp;21/5/2021</span>
          <span class="badge badge-secondary article-category">
            <a href="#" class="cat-link">VĂN HÓA</a>
          </span>
          {{!-- <a href="#">VĂN HÓA</a> &nbsp; <a href="#">Câu chuyện văn hóa</a> --}}
        </div>
      </div>

      <div class="mySlides card" style="padding-bottom: 20px;">
        <span class="badge badge-danger week-point">ĐIỂM TUẦN</span>
        <div class="img-containter">
          <img src="/static/images/img4.jpg" width="100%">
        </div>
        <div class="big-title">
          <a href="#" class="title-link">Liên quan đến 2 ca dương tính Covid-19, Lâm Đồng họp khẩn tối nay</a>
        </div>
        <div style="font-size: large;">
          <span class="date"><i class="fa fa-clock-o"></i>&nbsp;21/5/2021</span>
          <span class="badge badge-secondary article-category">
            <a href="#" class="cat-link">THỜI SỰ</a>
          </span>
          {{!-- <a href="#">VĂN HÓA</a> &nbsp; <a href="#">Câu chuyện văn hóa</a> --}}
        </div>
      </div>

      <div class="mySlides card" style="padding-bottom: 20px;">
        <span class="badge badge-danger week-point">ĐIỂM TUẦN</span>
        <div class="img-containter">
          <img src="/static/images/img4.jpg" width="100%">
        </div>
        <div class="big-title">
          <a href="#" class="title-link">TP.HCM tính phương án sống chung với dịch</a>
        </div>
        <div style="font-size: large;">
          <span class="date"><i class="fa fa-clock-o"></i>&nbsp;21/5/2021</span>
          <span class="badge badge-secondary article-category">
            <a href="#" class="cat-link">THỜI SỰ</a>
          </span>
          {{!-- <a href="#">VĂN HÓA</a> &nbsp; <a href="#">Câu chuyện văn hóa</a> --}}
        </div>
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    {{!-- <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div> --}}
  </div>
  <div class="col-sm-5">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="tab-javascript" data-toggle="tab" href="#content-javascript" role="tab"
          aria-controls="content-javascript" aria-selected="false">
          MỚI NHẤT
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="tab-css" data-toggle="tab" href="#content-css" role="tab"
          aria-controls="content-css" aria-selected="true">
          ĐỌC NHIỀU
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="content-javascript" role="tabpanel" aria-labelledby="tab-javascript">
        <div class="hot-news-container">
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <img src="/static/images/img1.jpg" alt="Card image cap" width="150" height="100px">
              <a href="#" class="title-link h-card-content">CDC khắp cả nước xin giảm nhẹ hình phạt cho nguyên giám đốc
                CDC
                Hà
                Nội</a>
              <div class="h-time">
                <i class="fa fa-clock-o"></i>12/8/2021
                <span class="badge badge-secondary article-category">
                  <a href="#" class="cat-link">GIÁO DỤC</a>
                </span>
              </div>
            </div>
          </div>
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <img src="/static/images/img2.jpg" alt="Card image cap" width="150" height="100px">
              <a href="#" class="title-link h-card-content">Trưa nay có 127 ca mắc Covid-19 mới, 75 ca tại TP.HCM</a>
              <div class="h-time">
                <i class="fa fa-clock-o"></i>12/8/2021
                <span class="badge badge-secondary article-category">
                  <a href="#" class="cat-link">TÀI CHÍNH - KINH DOANH</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="content-css" role="tabpanel" aria-labelledby="tab-css">
        <div class="hot-news-container">
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <img src="/static/images/img1.jpg" alt="Card image cap" width="150" height="100px">
              <a href="#" class="title-link h-card-content">TP.HCM: Đã tiêm hơn 400.000 liều vắc xin Covid-19, có 2 ca sốc độ 4</a>
              <div class="h-time">
                <i class="fa fa-clock-o"></i>12/8/2021
                <span class="badge badge-secondary article-category">
                  <a href="#" class="cat-link">GIÁO DỤC</a>
                </span>
              </div>
            </div>
          </div>
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <img src="/static/images/img2.jpg" alt="Card image cap" width="150" height="100px">
              <a href="#" class="title-link h-card-content">Trưa nay có 109 ca Covid-19 lây nhiễm trong nước, TP.HCM 50 ca, Long An 21 ca</a>
              <div class="h-time">
                <i class="fa fa-clock-o"></i>12/8/2021
                <span class="badge badge-secondary article-category">
                  <a href="#" class="cat-link">TÀI CHÍNH - KINH DOANH</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ul>
  </div>
</div>
<div class="row" style="margin: 20px 0px;">
  <h3>CHUYÊN MỤC NỔI BẬT</h3>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">GIÁO DỤC</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">GIÁO DỤC</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">GIÁO DỤC</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">GIẢI TRÍ</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">VĂN HÓA</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
  <div class="col-sm-2 v-article">
    <span class="badge badge-primary article-category" style="margin-bottom: 10px">
      <a href="#" class="cat-link" style="font-size: medium;">THỜI TRANG TRẺ</a>
    </span>
    <div class="card v-card">
      <img class="card-img-top" src="/static/images/img1.jpg" alt="Card image cap" width="180px" height="120px">
      <a href="#" class="title-link v-card-content">Cựu Phó tổng cục tình báo Nguyễn Duy Linh đã nhận bao nhiêu tiền
        của Vũ 'nhôm'?</a>
      <div class="v-time">
        <i class="fa fa-clock-o"></i>12/8/2021
      </div>
    </div>
  </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" href="/static/css/home.css">
{{/section}}

{{#section 'js'}}
<script src="/static/js/home.js"></script>
{{/section}}