<div class="card">
  <h4 class="card-header">
    Thêm mới chuyên mục con
  </h4>
  <div class="card-body">
    {{#if message}}
    <div id="error_message" class="alert alert-danger">
      {{message}}
    </div>
    {{/if}}
    <form method="POST">
      <div class="form-group">
        <label for="txtCatName">Tên chuyên mục mới</label>
        <input type="text" class="form-control" id="txtCatName" name="category_name" autofocus required>
      </div>
      <a class="btn btn-primary" href="/admin/categories/{{cat_id}}/subs/" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Trở về
      </a>
      <button type="submit" class="btn btn-success ml-4" formaction="/admin/categories/{{cat_id}}"
      onclick="return confirm('Bạn có chắc chắn muốn thêm chuyên mục này không?')">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>
  </div>
</div>