.subnav-link{
    color: white;
    display: block;
    padding: .1rem .5rem;
}

.subnav-link:hover{
    color: white;
}

.nav-link2{
    color: gray;
    display: block;
    padding: .6rem .5rem;
    font-weight: 600;
}

.nav-link2:hover {
    font-weight: 600;
    color: #2596be  ;
    text-decoration: none;
}

.nav-link1{
    color: white;
    background-color: c;
    display: block;
    padding: .5rem .5rem;
}

.nav-link1:hover{
    color: white;
    text-decoration: none;
}

.nav-link1:active{
    background-color: white;
    color: #2596be;
    display: block;
    padding: .5rem .5rem;
}

#search-bar{
    position: absolute;
    top: 200;
    width: 100%;
    z-index: 1;
}

#sub-nav{
    height: 37px;
    position: absolute;
    width: 100%;
    z-index: 1
}

#nav-bar2{
    padding: 0;
}

.btn-primary {
    background-color: #2596be;
    border: none;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:active {
    background-color: #00b3db;
    border-color: #2596be;
}

.page-item.active .page-link{
    background-color: #2596be;
    border-color: #2596be
}

.page-link {
    color: #212529;
}

.page-link:hover {
    background-color: #00b3db;
    color: #212529;
}
.title-link{
    color: #333333;
    font-weight: 600;
  }
  
.title-link:hover{
    text-decoration: none;
}

.hide {
    display: none;
}