<div class="col-sm-12">
    <div class="container m-5 p-5 bg-light shadow">


        <form method="post">
            <div class="form-group">
                <label for="email">Nhập email của bạn: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email">
            </div>
            
            {{#if err_message}}
            <div id="error_message" class="alert alert-danger">
                {{err_message}}
            </div>
            {{/if}}

            <button type="submit" class="btn btn-primary">Xác thực qua Email</button>
            <a class="btn btn-danger" href="/auth/log-in">Về lại trang đăng nhập</a>
        </form>

    </div>
</div>