<div class="container-fluid col-sm-12 align-middle" style="font-size:19px;">
    <div id="content" class="container mt-5  p-2 py-4 p-md-5 mb-5  bg-light shadow"
        style="background-color: rgb(255, 255, 255); ">
        
        {{#if redirect_message}}
        <div id="redirect_message" class="alert alert-info">
            {{redirect_message}}
        </div>
         {{/if}}
        <form method="post">
            <div class="form-group">
                <label for="email">Nhập email của bạn: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email">
            </div>

            {{#if err_message}}
            <div id="error_message" class="alert alert-danger">
                {{err_message}}
            </div>
            {{/if}}

            <button type="submit" class="btn btn-primary">Xác thực qua Email</button>
            <a class="btn btn-danger" href="/auth/log-in">Về lại trang đăng nhập</a>
        </form>
    </div>
</div>