<div class="container-fluid col-sm-12 align-middle" style="font-size:19px;">
    <div id = "resource_not_found" class = "container">
        <figure class="text-center mt-5">
        <img class="figure-img img-fluid rounded" src="https://cdn.vietnambiz.vn/2020/1/9/premium20picture-1578587412908614759356.jpg" alt="Premium is required" style="width: 50%; height: auto">
        <figcaption class="figure-caption my-4">Bài báo này chỉ dành cho tài khoản premium!</figcaption>
        </figure>
    </div>
</div>
