<div class="container-fluid col-sm-12 align-middle" style="font-size:19px;">
    <div id = "resource_not_found" class = "container">
        <figure class="text-center">
        <img class="figure-img img-fluid rounded" src="https://www.eurovps.com/blog/wp-content/uploads/2017/12/69-http-errors-guide-500-hero.jpg" alt="Internal Server Error">
        </figure>
    </div>
</div>
