<div class="container-fluid col-sm-12 align-middle" style="font-size:19px;">
    <div id = "resource_not_found" class = "container">
        <figure class="text-center">
        <img class="figure-img img-fluid rounded" src="https://bizflyportal.mediacdn.vn/bizflyportal/459/347/2020/06/02/17/37/70515910726734841.jpg" alt="Resource not found!!!">
        <figcaption class="figure-caption my-2">Resource Not Found !!!</figcaption>
        </figure>
    </div>
</div>
