<!--Content start-->
<main id="content">
    <!--Container-->
    <div class="container c-mobile">
        <div class="row">
            <!--Start include wrapper-->
            <div class="include-wrapper pb-5 col-12">
                <div class="row mt-4 py-3">
                    <!--content-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h3>QUẢN LÝ TAGS</h3>
                                <span class="float-right" style="margin-right: 120px;"><a class="btn btn-outline-primary"
                                        href="/admin/tags/add"><i class="fa fa-plus"></i> Thêm tag mới</a></span>
                            </div>
                        </div>

                        <!--table start-->
                        <center>
                        <table class="table table-striped" style="width:80%">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0 text-center">ID</th>
                                    <th class="border-bottom-0 text-center">Tên Tag</th>
                                    <th class="border-bottom-0 text-center">Xem danh sách bài báo</th>
                                    <th class="border-bottom-0 text-center">Chỉnh sửa tag</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each tags}}
                                <tr>
                                    <td class="text-center">{{tag_id}}</td>
                                    <td class="text-center">{{tag_name}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm text-white mb-2 mb-lg-0 px-3"
                                            href="/tags/{{tag_id}}"><i
                                                class="fa fa-eye"></i> Xem</a> 
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-success btn-sm text-white mb-2 mb-lg-0 px-3"
                                            href="/admin/tags/{{tag_id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Chỉnh sửa</a> 
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        </center>
                        <!--end table-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>