{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css" />
{{/section}}


<div class="card my-3 mx-2 m-md-5 ">
    <h2 class="card-header">
        Thêm người dùng
    </h2>

    <div class="card-body">


        {{#if err_message}}
        <div id="error_message" class="alert alert-danger">
            {{err_message}}
        </div>
        {{/if}}

        {{#if redirect_message}}
        <div id="redirect_message" class="alert alert-info">
            {{redirect_message}}
        </div>
        {{/if}}


        <form id="frmAdminAddUser" method="POST" action="/admin/users/add/">
            <div class="form-group">

                <div class="m-md-5" id="myTabContent">
                    <div class="" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                        <div class="row">

                            <div class="col-11  col-md-3">
                                <label for="username" style="font-weight:bold;">Tài khoản:</label>
                            </div>

                            <div class="col-11  col-md-8">
                                <input type="text" class="form-control" id="username" placeholder="Nhập tài khoản"
                                    minlength="5" maxlength="20" name="username">
                                <div id="username_invalid" class="invalid-feedback">
                                    Tài khoản không hợp lệ. Tài khoản từ 5-20 kí tự in thường hoặc số.
                                </div>
                                <div id="username_duplicate" class="invalid-feedback">
                                    Tài khoản đã tồn tại.
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label for="email" style="font-weight:bold;">Email: </label>
                            </div>

                            <div class="col-11  col-md-8">
                                <input class="form-control" id="email" type="text" name="email"
                                    placeholder="abc@example.com" maxlength="40" />
                                <div id="email_invalid" class="invalid-feedback">
                                    Email không hợp lệ.
                                </div>
                                <div id="email_duplicate" class="invalid-feedback">
                                    Email đã tồn tại.
                                </div>
                            </div>

                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label for="name" style="font-weight:bold;">Họ và tên</label>
                            </div>
                            <div class="col-11  col-md-8">
                                <input type="text" class="form-control" id="name" placeholder="Họ và tên" name="name"
                                    maxlength="40">
                                <div id="name_invalid" class="invalid-feedback">
                                    Tên không hợp lệ. Tên không được bỏ trống và chứa tối đa 40 kí tự.
                                </div>
                            </div>
                        </div>


                        <hr />

                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label for="date_of_birth" style="font-weight:bold;">Ngày sinh: </label>
                            </div>
                            <div class="col-11  col-md-8">
                                <input readonly id="date_of_birth" width="276" name="raw_date_of_birth"
                                    placeholder="dd/mm/yyyy">
                                <div id="date_of_birth_invalid" class="invalid-feedback">
                                    Ngày sinh không hợp lệ. Người dùng cần lớn hơn 10 tuổi để đăng ký.
                                </div>
                            </div>
                        </div>

                        <hr />


                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label for="gender" style="font-weight:bold;">Giới tính: </label>
                            </div>

                            <div class="col-11  col-md-8">
                                <select class="form-select" id="gender" name="gender">
                                    <option selected value="-1">Khác</option>
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>

                        <hr />


                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label style="font-weight:bold;">Phân quyền premium:</label>
                            </div>
                            <div class="col-11  col-md-8">
                                <input id="checked_premium" name="check_premium" class="form-check-input"
                                    type="checkbox" style="margin:auto">
                            </div>
                        </div>

                        {{!-- Collapsed When not check--}}

                        <div class="row collapse my-3" id="change-time-premium">

                            <div class="col-11  col-md-3">
                                <label style="font-weight:lighter;"><i>Thời điểm hết hạn (GMT+7)</i></label>
                            </div>

                            <div class="col-11  col-md-8">
                                <input readonly id="txtTimePremium" name="time_premium" placeholder="DD/MM/YYYY HH:mm">
                                <div id="time_premium_invalid" class="invalid-feedback">
                                    Thời gian không hợp lệ. Thời điểm hết hạn phải lớn hơn hiện tại.
                                </div>
                            </div>



                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label style="font-weight:bold;">Phân quyền phóng viên:</label>
                            </div>
                            <div class="col-11  col-md-8">
                                <input class="form-check-input" id="check_writer" name="check_writer" type="checkbox"
                                    style="margin:auto">
                            </div>
                        </div>

                        {{!-- Collapsed When not check--}}

                        <div class="row collapse my-3" id="change-nickname">
                            <div class="col-11  col-md-3">
                                <label style="font-weight:lighter;"><i>Bí danh</i></label>
                            </div>
                            <div class="col-11  col-md-8">
                                <input id="nickname" name="nick_name" placeholder="Ví dụ: Sói Con" maxlength="40">
                                <div id="nickname_invalid" class="invalid-feedback" >
                                        Bí danh không hợp lệ. Bí danh phải từ 1-40 kí tự.
                                </div>
                            </div>
                        </div>


                        <hr />
                        <div class="row">
                            <div class="col-11  col-md-3">
                                <label style="font-weight:bold;">Phân quyền biên tập viên:</label>
                            </div>

                            <div class="col-11  col-md-8">
                                <input id="check_editor" name="check_editor" class="form-check-input" type="checkbox"
                                    style="margin:auto">
                            </div>

                        </div>
                    </div>
                    {{!-- EDITOR Collapsed When not check--}}
                    <div class="row collapse my-3" id="change-assigned-categoríes">
                        <div class="col-11  col-md-3">
                            <label style="font-weight:lighter;"><i>Phân công chuyên mục</i></label>
                        </div>
                        <div class="col-11  col-md-8">
                            <select id="categories_selected" name="categories_selected" class="form-select" multiple
                                size="10" aria-label="size 3 select example">
                                {{#each categories}}
                                <option value="{{category_id}}">{{category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                    <hr />
                    <div class="d-flex flex-column flex-md-row">

                        <a class="my-1 mx-md-3  btn btn-primary" href="/admin/users/" role="button">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Trở về
                        </a>

                        <button type="submit" class="my-1 mx-md-3 btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>

{{#section 'js'}}
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>

    $("#checked_premium").change(function () {
        $("#checked_premium").attr("disabled", true);
        $('#change-time-premium').collapse('toggle');
    });
    $('#change-time-premium').on('hidden.bs.collapse', function () {
        $("#checked_premium").removeAttr("disabled");
    });
    $('#change-time-premium').on('shown.bs.collapse', function () {
        $("#checked_premium").removeAttr("disabled");
    });

    /////////////////////////////////////////////////////////////////

    $("#check_editor").change(function () {
        $("#check_editor").attr("disabled", true);
        $('#change-assigned-categoríes').collapse('toggle');
    });
    $('#change-assigned-categoríes').on('hidden.bs.collapse', function () {
        $("#check_editor").removeAttr("disabled");
    });
    $('#change-assigned-categoríes').on('shown.bs.collapse', function () {
        $("#check_editor").removeAttr("disabled");
    });

    /////////////////////////////////////////////////////////////////


    $("#check_writer").change(function () {
        $("#check_writer").attr("disabled", true);
        $('#change-nickname').collapse('toggle');
    });
    $('#change-nickname').on('hidden.bs.collapse', function () {
        $("#check_writer").removeAttr("disabled");
    });
    $('#change-nickname').on('shown.bs.collapse', function () {
        $("#check_writer").removeAttr("disabled");
    });


    /////////////////////////////////////////////////////////////////

    $('#categories_selected option').mousedown(function (e) {
        e.preventDefault();
        $(this).prop('selected', !$(this).prop('selected'));
        return false;
    });

    $.datetimepicker.setDateFormatter('moment');
    $('#txtTimePremium').datetimepicker(
        {
            format: 'DD/MM/YYYY HH:mm'
        }
    );
    $('#date_of_birth').datetimepicker(
        {
            timepicker: false,
            format: 'DD/MM/YYYY'
        }
    );
</script>

<script src="/static/js/auth/authenticate.js"> </script>
{{/section}}