<form method="POST">
  <div class="form-group">
    <label for="catName">Cat Name</label>
    <input type="text" class="form-control" id="catName" name="catName" autofocus>
    <label for="parentCat">Parent Cat</label>
    <input type="text" class="form-control" id="parentCat" name="parentCat" autofocus>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>